<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>


###COACHSTATS###


###DEFAULT###
###DATAS###
<table class="cfcleague-statistic-table">
<tr>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th colspan="3" class="center">###LABEL_CARDS###</th>
  <th colspan="3" class="center">###LABEL_GOALS###</th>
  <th>&nbsp;</th>
</tr>
<tr>
  <th>###LABEL_COACH###</th>
  <th>###LABEL_MATCHES###</th>
  <th>###LABEL_CARDYELLOW###</th>
  <th>###LABEL_CARDYR###</th>
  <th>###LABEL_CARDRED###</th>
  <th>###LABEL_TOTAL###</th>
  <th>###LABEL_HOME###</th>
  <th>###LABEL_AWAY###</th>
  <th>###LABEL_CHANGES###</th>
</tr>
###DATA###
<tr class="cfcleague-matchtable-row###DATA_ROLL###">
  <td class="cfcleague-statistic-label" style="###DATA_DCHL###">###DATA_COACH_SHOWPROFILELINK######DATA_COACH_DCNAMEREV######DATA_COACH_SHOWPROFILELINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYEDLINK### ###DATA_PLAYED### ###DATA_PLAYEDLINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYELLOW###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYR###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDRED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSLINK######DATA_GOALS######DATA_GOALSLINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSHOME###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSAWAY###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CHANGEOUT###</td>

</tr>
###DATA###
</table>

<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE### Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER### ###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_NORMAL_PAGE### 
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_PREV_PAGE###&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;###PAGEBROWSER_PREV_PAGE###
###PAGEBROWSER_NEXT_PAGE###&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;###PAGEBROWSER_NEXT_PAGE###
###PAGEBROWSER_FIRST_PAGE### ###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK### ###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_LAST_PAGE### ###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK### ###PAGEBROWSER_LAST_PAGE###
</div>
<!-- ###PAGEBROWSER### END -->

###DATAS###
###DEFAULT###


###COACHSTATS###



###REFEREESTATS###


###DEFAULT###
###DATAS###
<table class="cfcleague-statistic-table">
<tr>
	<th>&nbsp;</th>
  <th colspan="3">###LABEL_MATCHES###</th>
  <th colspan="3" class="center">###LABEL_CARDS###</th>
  <th colspan="3" class="center">###LABEL_WINS###</th>
  <th colspan="3">###LABEL_PENALTY###</th>
</tr>
<tr>
  <th>###LABEL_REFEREE###</th>
  <th>###LABEL_TOTAL###</th>
  <th>###LABEL_REF###</th>
  <th>###LABEL_ASSREF###</th>

  <th>###LABEL_CARDYELLOW###</th>
  <th>###LABEL_CARDYR###</th>
  <th>###LABEL_CARDRED###</th>
  <th>###LABEL_HOME###</th>
  <th>###LABEL_DRAW###</th>
  <th>###LABEL_AWAY###</th>
  <th>###LABEL_TOTAL###</th>
  <th>###LABEL_HOME###</th>
  <th>###LABEL_AWAY###</th>
</tr>
###DATA###
<tr class="cfcleague-matchtable-row###DATA_ROLL###">
  <td class="cfcleague-statistic-label" style="###DATA_DCHL###">###DATA_REFEREE_SHOWPROFILELINK######DATA_REFEREE_DCNAMEREV######DATA_REFEREE_SHOWPROFILELINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYEDLINK### ###DATA_PLAYED### ###DATA_PLAYEDLINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_MAINREF###</td>
  <td class="cfcleague-statistic-value-r">###DATA_ASSIST###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYELLOW###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYR###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDRED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_WIN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_DRAW###</td>
  <td class="cfcleague-statistic-value-r">###DATA_LOOSE###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PENALTY###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PENALTYOWN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PENALTYAGAINST###</td>

</tr>
###DATA###
</table>

<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE### Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER### ###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_NORMAL_PAGE### 
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_PREV_PAGE###&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;###PAGEBROWSER_PREV_PAGE###
###PAGEBROWSER_NEXT_PAGE###&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;###PAGEBROWSER_NEXT_PAGE###
###PAGEBROWSER_FIRST_PAGE### ###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK### ###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_LAST_PAGE### ###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK### ###PAGEBROWSER_LAST_PAGE###
</div>
<!-- ###PAGEBROWSER### END -->

###DATAS###
###DEFAULT###


###REFEREESTATS###

</body>
</html>