<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>


###DBSTATS###

###TX_CFCLEAGUE_GAMES###
###LABEL_MATCHES###: ###TX_CFCLEAGUE_GAMES_SIZE###<br />
###TX_CFCLEAGUE_GAMES###

###TX_CFCLEAGUE_PROFILES###
###LABEL_PROFILES###: ###TX_CFCLEAGUE_PROFILES_SIZE###<br />
###TX_CFCLEAGUE_PROFILES###

###TX_CFCLEAGUE_TEAMS###
###LABEL_TEAMS###: ###TX_CFCLEAGUE_TEAMS_SIZE###<br />
###TX_CFCLEAGUE_TEAMS###

###TX_CFCLEAGUE_CLUB###
###LABEL_CLUBS###: ###TX_CFCLEAGUE_CLUB_SIZE###<br />
###TX_CFCLEAGUE_CLUB###

###TX_CFCLEAGUE_MATCH_NOTES###
###LABEL_MATCHNOTES###: ###TX_CFCLEAGUE_MATCH_NOTES_SIZE###<br />
###TX_CFCLEAGUE_MATCH_NOTES###

###DBSTATS###

</body>
</html>