<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>


###PLAYERSTATS###


###DEFAULT###
<table class="cfcleague-statistic-table">
<tr>
  <th>&nbsp;</th>
  <th colspan="2" class="center">###LABEL_MATCHES###</th>
  <th colspan="3" class="center">###LABEL_CARDS###</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th colspan="2" class="center">###LABEL_CHANGE###</th>
</tr>
<tr>
  <th>###LABEL_PLAYER###</th>
  <th>###LABEL_MATCHCOUNT###</th>
  <th>###LABEL_MINUTES###</th>
  <th>###LABEL_CARDYELLOW###</th>
  <th>###LABEL_CARDYR###</th>
  <th>###LABEL_CARDRED###</th>
  <th>###LABEL_GOALS###</th>
  <th>###LABEL_ASSISTS###</th>
  <th>###LABEL_GOALS_OWN###</th>
  <th>###LABEL_CHANGE_IN###</th>
  <th>###LABEL_CHANGE_OUT###</th>
</tr>
###DATAS###
###DATA###
<tr>
  <td class="cfcleague-statistic-label">###DATA_PLAYER_LAST_NAME###, ###DATA_PLAYER_FIRST_NAME###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYTIME###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYELLOW###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYR###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDRED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALS###</td>
  <td class="cfcleague-statistic-value-r">###DATA_ASSISTS###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSOWN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CHANGEIN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CHANGEOUT###</td>

</tr>
###DATA###
###DATAS###
</table>
###DEFAULT###


###SCORER###
Scorer
###SCORER###

###PLAYERSTATS###


</body>
</html>