<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>


###PLAYERSTATS###


###DEFAULT###
###DATAS###
<table class="table table-condensed table-striped">
<tr>
  <th>&nbsp;</th>
  <th colspan="2" class="center">###LABEL_MATCHES###</th>
  <th colspan="3" class="center">###LABEL_CARDS###</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
  <th colspan="2" class="center">###LABEL_CHANGE###</th>
</tr>
<tr>
  <th>###LABEL_PLAYER###</th>
  <th>###LABEL_MATCHCOUNT###</th>
  <th>###LABEL_MINUTES###</th>
  <th>###LABEL_CARDYELLOW###</th>
  <th>###LABEL_CARDYR###</th>
  <th>###LABEL_CARDRED###</th>
  <th>###LABEL_GOALS###</th>
  <th>###LABEL_ASSISTS###</th>
  <th>###LABEL_GOALSOWN###</th>
  <th>###LABEL_CHANGEIN###</th>
  <th>###LABEL_CHANGEOUT###</th>
</tr>
###DATA###
<tr class="cfcleague-matchtable-row###DATA_ROLL###">
  <td class="cfcleague-statistic-label" style="###DATA_DCHL###">###DATA_PLAYER_SHOWPROFILELINK######DATA_PLAYER_DCNAMEREV######DATA_PLAYER_SHOWPROFILELINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYEDLINK### ###DATA_PLAYED### ###DATA_PLAYEDLINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYTIME###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYELLOW###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDYR###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CARDRED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSLINK######DATA_GOALS######DATA_GOALSLINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_ASSISTS###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSOWN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CHANGEIN###</td>
  <td class="cfcleague-statistic-value-r">###DATA_CHANGEOUT###</td>

</tr>
###DATA###
</table>

<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE### Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER### ###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_NORMAL_PAGE### 
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_PREV_PAGE###&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;###PAGEBROWSER_PREV_PAGE###
###PAGEBROWSER_NEXT_PAGE###&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;###PAGEBROWSER_NEXT_PAGE###
###PAGEBROWSER_FIRST_PAGE### ###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK### ###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_LAST_PAGE### ###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK### ###PAGEBROWSER_LAST_PAGE###
</div>
<!-- ###PAGEBROWSER### END -->

###DATAS###
###DEFAULT###





###SCORERLIST###
<h2>###LABEL_HEADLINE_SCORERLIST###</h2>

###DATAS###
<table class="table table-condensed table-striped">
<tr>
  <th>###LABEL_PLAYER###</th>
  <th class="center">###LABEL_GOALS### (###LABEL_PER_MATCH###)</th>
  <th class="center">###LABEL_MINUTES_PER_GOAL###</th>
  <th>###LABEL_HOME###</th>
  <th>###LABEL_AWAY###</th>
  <th>###LABEL_HEAD### (###LABEL_PER_MATCH###)</th>
  <th>###LABEL_PENALTY###</th>
  <th>###LABEL_JOKER###</th>
</tr>

###DATA###
<tr class="cfcleague-matchtable-row###DATA_ROLL###">
  <td class="cfcleague-statistic-label">###DATA_PLAYER_SHOWPROFILELINK######DATA_PLAYER_DCNAMEREV######DATA_PLAYER_SHOWPROFILELINK###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALS### ###DATA_GOALS_PER_MATCH###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALS_AFTER_MINUTES###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSHOME###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSAWAY###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSHEAD### ###DATA_GOALSHEAD_PER_MATCH###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSPENALTY###</td>
  <td class="cfcleague-statistic-value-r">###DATA_GOALSJOKER###</td>
</tr>
###DATA###
</table>
<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE### Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER### ###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_NORMAL_PAGE### 
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_PREV_PAGE###&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;###PAGEBROWSER_PREV_PAGE###
###PAGEBROWSER_NEXT_PAGE###&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;###PAGEBROWSER_NEXT_PAGE###
###PAGEBROWSER_FIRST_PAGE### ###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK### ###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_LAST_PAGE### ###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK### ###PAGEBROWSER_LAST_PAGE###
</div>
<!-- ###PAGEBROWSER### END -->

###DATAS###
###SCORERLIST###



###ASSISTLIST###
<h2>###LABEL_HEADLINE_ASSISTLIST###</h2>
###DATAS###
<table class="table table-condensed table-striped">
<tr>
  <th>###LABEL_PLAYER###</th>
  <th>###LABEL_MATCHES###</th>
  <th class="center">###LABEL_ASSISTS### (###LABEL_PER_MATCH###)</th>
</tr>

###DATA###
<tr class="cfcleague-matchtable-row###DATA_ROLL###">
  <td class="cfcleague-statistic-label">###DATA_PLAYER_DCNAMEREV###</td>
  <td class="cfcleague-statistic-value-r">###DATA_PLAYED###</td>
  <td class="cfcleague-statistic-value-r">###DATA_ASSISTS### ###DATA_ASSISTS_PER_MATCH###</td>
</tr>
###DATA###
</table>
<!-- ###PAGEBROWSER### START -->
<div class="t3sports-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE### Seite ###PAGEBROWSER_CURRENT_PAGE_NUMBER### ###PAGEBROWSER_CURRENT_PAGE###
###PAGEBROWSER_NORMAL_PAGE### 
###PAGEBROWSER_NORMAL_PAGE_LINK###Seite ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_PREV_PAGE###&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;###PAGEBROWSER_PREV_PAGE###
###PAGEBROWSER_NEXT_PAGE###&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;###PAGEBROWSER_NEXT_PAGE###
###PAGEBROWSER_FIRST_PAGE### ###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK### ###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_LAST_PAGE### ###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK### ###PAGEBROWSER_LAST_PAGE###
</div>
<!-- ###PAGEBROWSER### END -->

###DATAS###

###ASSISTLIST###


###PLAYERSTATS###

</body>
</html>