<html>

<body>

Template for modCompetitions. Not used right now.

###FUNCT3SPORTSTATS###

<!-- Dieser Teil wird in allen Sub-Modulen integriert -->
###COMMON_START###
###SUBMENU###
###COMMON_START###

###COMMON_END###
<div>Parsetime: ###MOD_PARSETIME###ms Memory used: ###MOD_MEMUSED### Bytes</div>
###COMMON_END###

###TAB_OVERVIEW###
Überblick
###TAB_OVERVIEW###

###FUNCT3SPORTSTATS###



###FUNCTICKER###
Not used
###FUNCTICKER###


###FUNCTEAMS###
Not used
###FUNCTEAMS###

###FUNCCLUBS###
Not used
###FUNCCLUBS###

</body>
</html>